# {{ ansible_managed }}

[Journal]
Storage={{ journal_storage | default('persistent') }}
SystemMaxUse={{ journal_sys_max_use | default('1G') }}
MaxRetentionSec={{ journal_max_retention_sec | default('1month') }}
Compress={{ journal_compress | default('yes') }}