# {{ ansible_managed }}

Port {{ common_common_sshd_port | default(2222) }}
ListenAddress {{ common_common_sshd_listen_address | default('0.0.0.0') }}

# Logging
SyslogFacility AUTH
LogLevel {{ common_common_sshd_loglevel | default('INFO') }}

# Authentication
LoginGraceTime {{ common_sshd_login_grace_time | default('20') }}
PermitRootLogin {{ common_sshd_permit_root_login | default('no') }}
PasswordAuthentication {{ common_sshd_password_authentication | default('no') }}
PermitEmptyPasswords no
PubkeyAuthentication {{ common_sshd_pubkey_authentication | default('yes') }}
KbdInteractiveAuthentication {{ common_sshd_kbd_interactive_auth | default('no') }}
AuthenticationMethods publickey
MaxAuthTries {{ common_sshd_max_auth_tries | default('3') }}
MaxSessions {{ common_sshd_max_session | default('5') }}
ClientAliveInterval {{ common_sshd_client_alive_interval | default('300') }}
ClientAliveCountMax {{ common_sshd_client_alive_count_max | default('3') }}
X11Forwarding no
AllowAgentForwarding no
PermitUserEnvironment no
UsePAM yes

{% if common_sshd_allow_groups is defined %}
AllowGroups {{ common_sshd_allow_groups | join(' ') }}
{% endif %}