# {{ ansible_managed }}

# --- Kernel hardening ---
kernel.kptr_restrict = {{ common_sysctl_kernel_kptr_restrict }}
kernel.dmesg_restrict = {{ common_sysctl_kernel_dmesg_restrict }}
kernel.yama.ptrace_scope = {{ common_sysctl_kernel_yama_ptrace_scope }}
kernel.unprivileged_bpf_disabled = {{ common_sysctl_kernel_unprivileged_bpf_disabled }}
net.core.bpf_jit_harden = {{ common_sysctl_net_core_bpf_jit_harden }}

# --- Filesystem hardening ---
fs.protected_hardlinks = {{ common_sysctl_fs_protected_hardlinks }}
fs.protected_symlinks = {{ common_sysctl_fs_protected_symlinks }}
fs.protected_fifos = {{ common_sysctl_fs_protected_fifos }}
fs.protected_regular = {{ common_sysctl_fs_protected_regular }}
fs.suid_dumpable = {{ common_sysctl_fs_suid_dumpable }}

# --- Network hardening (IPv4) ---
net.ipv4.tcp_syncookies = {{ common_sysctl_net_ipv4_tcp_syncookies }}
net.ipv4.conf.all.rp_filter = {{ common_sysctl_net_ipv4_conf_all_rp_filter }}
net.ipv4.conf.all.accept_redirects = {{ common_sysctl_net_ipv4_conf_all_accept_redirects }}
net.ipv4.conf.all.send_redirects = {{ common_sysctl_net_ipv4_conf_all_send_redirects }}
net.ipv4.conf.all.accept_source_route = {{ common_sysctl_net_ipv4_conf_all_accept_source_route }}
net.ipv4.icmp_echo_ignore_broadcasts = {{ common_sysctl_net_ipv4_icmp_echo_ignore_broadcasts }}

# --- Network hardening (IPv6) ---
net.ipv6.conf.all.accept_redirects = {{ common_sysctl_net_ipv6_conf_all_accept_redirects }}
net.ipv6.conf.default.accept_redirects = {{ common_sysctl_net_ipv6_conf_default_accept_redirects }}
net.ipv6.conf.all.accept_source_route = {{ common_sysctl_net_ipv6_conf_all_accept_source_route }}
net.ipv6.conf.default.accept_source_route = {{ common_sysctl_net_ipv6_conf_default_accept_source_route }}